:root {
  --gray: #aaaaaa;
  --grid-blue: #000055;
  --status-bar-blue: #223388;
  --background-blue: #000033;
  --yellow: #cccc00;
}

html {
  background-color: var(--background-blue);
}

body {
  margin: 0;
  padding: 0;
  width: 640px;
  height: 480px;
  color: var(--gray);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "PrevueGrid", monospace;
  font-size: 23px;
  line-height: 25px;
  position: absolute;
  left: 40px;
}

.previews {
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.previews .currentPreview .previewMessages {
  width: 200px;
  text-align: center;
}

.guide {
  height: 240px;
  display: flex;
  background-color: var(--background-blue);
  flex-direction: column;
}

.status-bar {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.status-bar > div {
  background-color: var(--status-bar-blue);
}

.current-time, .timeslot, .station-identifier, .channel-lineup-item, .announcement {
  border-top: 5px solid var(--gray);
  border-left: 5px solid var(--gray);
  border-right: 5px solid var(--background-blue);
  border-bottom: 5px solid var(--background-blue);
 }

.current-time {
  text-align: right;
 }

.current-time, .station-identifier {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}

.lineups {
  flex-grow: 1;
}

.lineup {
  height: 210px;
  /* no visible scrollbars */
  overflow-y: hidden;
}

.station-identifier, .timeslots {
  text-align: center;
  color: var(--yellow);
}

.timeslots {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

/* a third of the timeslot area, but taking into account the 5px of border on each side*/
.timeslot, .channel-lineup-item {
  width: 160px;
}

/* 2/3rds of the timeslot area */
.channel-lineup-item.double {
  width: 330px;
}

.channel-lineup-item.triple {
  width: 480px;
}

/* There tends to be some leftover space on the far right. Use it!*/
.timeslot:last-child, .channel-lineup-item:last-child {
  flex-grow: 1;
}

.channel {
  display: flex;
  flex-direction: row;
  height: 70px;
}

.announcement {
  height: 60px;
  padding-top: 2px;
  padding-left: 25px;
  padding-right: 25px;
}

.announcement.double-height {
  height: 130px;
}

.announcement.triple-height {
  height: 200px;
}

.announcement .channel-lineup-item {
  background-color: cadetblue;
  width: 100%;
}

.number {
  margin-top: 10px;
}

.station-identifier, .channel-lineup, .channel-lineup-item {
  background-color: var(--grid-blue);
}

.channel-lineup-item.movie {
  background-color: #551112;
}

.channel-lineup-item.sports {
  background-color: #5F93B3;
}

.channel-lineup {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}


/* By taking up the available space, we ensure that we push any "after arrows" to the far right edge */
.channel-lineup-item .title {
  flex-grow: 1;
  padding-left: 5px;
  padding-top: 2px;
  overflow: hidden;
  height: 50px;
}

.channel-lineup-item {
  display: flex;
  flex-direction: row;
}

/* all day items take up all slots*/
.channel-lineup-item.all-day {
  width: 100%;
}

/* By default, hide the arrows, and also make them big and make them touch when they are arranged vertically (with a <br/>) */
.before-arrow, .before-double-arrow, .after-arrow, .after-double-arrow {
  display: none;
  text-shadow: none;
  line-height: 32px;
  font-size: 32px;
}

/* If you're in the first slot and you started during the previous slot, your single arrow shows */
.channel-lineup-item.started-a-little-while-ago:first-child .before-arrow {
  display: block;
}

/* If you're in the first slot and you started before the previous slot, your double arrow shows */
.channel-lineup-item.started-a-long-while-ago:first-child .before-double-arrow {
  display: block;
}

/* If you're in the last slot and you end in the next slot, your arrow shows */
.channel-lineup-item.a-little-left:last-child .after-arrow {
  display: block;
}

/* If you end after the fourth slot relative to current, your double arrow shows */
.channel-lineup-item.a-lot-left .after-double-arrow {
  display: block;
}
