!!!
%html
  %head
    %meta{charset: "UTF-8"}
    = stylesheet_link_tag 'guide'
    = javascript_include_tag '/assets/javascripts/guide/jquery-3.5.0.min.js'
    = javascript_include_tag '/assets/javascripts/guide/guide.js'
    = javascript_include_tag '/assets/javascripts/guide/preview.js'
    %title Program Guide

  %body
    .previews
    .guide
      .status-bar
        .current-time
        .timeslots
          .timeslot
          .timeslot
          .timeslot

      .lineups
        .lineup
